*{
    padding: 0;
    margin: 0;
}
html{
    background-image: url(Amazon-Rainforest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    
    
}

ul  a{
    text-decoration: none;
    padding: 30px;
    margin: 30px;
    font-size: 2em;
    text-align: right;
    color:rgb(128, 126, 13);
    font-weight: bold;
    border-width: auto;
    
}

ul{
    list-style-type:none;
    background-color: rgb(249, 253, 249);
    padding: 0;
    margin: 0;
    border-radius: 3px;
    
}

li{
    display: inline;
    
     
}


img{
    height:40px;
    width: 40px;
    

    padding: 0;
    margin:0;
    color:white;
    
}

